/* General Styles */
body {
    font-family: 'Lora', serif;
    background-color: #556B2F;
    color: #333;
    margin: 0;
    line-height: 1.6;
}

.hidden {
    display: none;
}

/* Header Styles */
.header {
    background: url('https://github.com/WhiteRiverSustainability/smallsteps/blob/main/nav.jpg?raw=true') center/cover #90a997;
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.header::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    padding: 10px 20px;
    position: relative;
}

nav ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    height: 100%;
    width: 1px;
    background-color: white;
    opacity: 0.5;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px #000;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    outline: 2px solid white;
}

/* Header Title */
h1 {
    font-size: 8em;
    z-index: 2;
    position: relative;
    margin: 3px 0;
    white-space: nowrap;
    text-align: center;
}

/* Content Styles */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Button Styles */
#generateButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#generateButton:hover {
    background-color: #45a049;
}

/* Quote Display Styles */
#quoteDisplay {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}
